/* globals.css */

/* Definimos las variables globales para los temas */
:root {
    --background-color-light: #f7f7f7; /* Color de fondo para el tema claro */
    --background-color-dark: #1a1a1a; /* Color de fondo para el tema oscuro */
    --text-color-light: #333333; /* Color del texto para el tema claro */
    --text-color-dark: #e0e0e0; /* Color del texto para el tema oscuro */
  
    --primary-button-light: #007bff;
    --primary-button-dark: #1d75e8;
  
    --hover-button-light: #0056b3;
    --hover-button-dark: #0061d0;
  }
  
  html[data-theme='light'] {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
  
  html[data-theme='dark'] {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  